---
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';
---
<Layout title="My Blog">
	<Container>
		<h1 class="sr-only">Blog Posts</h1>
	</Container>
</Layout>
